<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?3">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>


  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>





     <div id="offices">

      
     
      <div id="cabinet-select">
      
       
           
            <div class="intro">
          <h1>Who would you choose?</h1>
          <p>Similar to assembling a fantasy football team, The Chronicle invites you to assemble your dream team to play in the big leagues of federal government. Your nominees should reflect your views – be they left, right, solidly in the middle or independent minded.</p>
          <button class="start btn">Begin</button>
        </div>
         <div id="input-container">

         <?php 
          if (!$_POST) {

         ?>

      <form  id="inputform" action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action" value="submit">


        <div class="cabinet first current">
          <img src="./assets/vp.png">
          <p>Vice President</p>
          <input name="VP" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/treasury.png">
          <p>Secretary of the Treasury</p>
          <input name="SOT" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/ag.png">
          <p>Attorney General</p>
          <input name="AG" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/agri.png">
          <p>Secretary of Agriculture</p>
          <input name="SOA" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/labor.png">
          <p>Secretary of Labor</p>
          <input name="SOL" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/hud.png">
          <p>Secretary of Housing and Urban Development</p>
          <input name="SHUD" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/energy.png">
          <p>Secretary of Energy</p>
          <input name="SOEnergy" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/va.png">
          <p>Secretary of Veterans Affairs</p>
          <input name="SVA" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/homeland.png">
          <p>Secretary of Homeland Security</p>
          <input name="SHS" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/ed.png">
          <p>Secretary of Education</p>
          <input name="SOEd" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/trans.png">
          <p>Secretary of Transportation</p>
          <input name="SOTrans" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/health.png">
          <p>Secretary of Health and Human Services</p>
          <input name="SHHS" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/comm.png">
          <p>Secretary of Commerce</p>
          <input name="SOC" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/interior.png">
          <p>Secretary of the Interior</p>
          <input name="SOI" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/defense.png">
          <p>Secretary of Defense</p>
          <input name="SOD" type="text" value="" />
        </div>

        <div class="cabinet">
        <img src="./assets/state.png">
          <p>Secretary of State</p>
          <input name="SOS" type="text" value="" />
        </div>



        <div class="cabinet last">
        <img src="./assets/seal.png">
          <p>Submit your answers!</p>
          <input type="submit" value="Submit" class="btn" id="submit" />
        </div>
        
      </form>

      <div class="btn-group">
        <button class="prev btn" disabled="disabled">Prev</button>
        <button class="next btn">Next</button>
      </div>
      </div>


      <?php } else {        

          $to='opinion@sfchronicle.com, lvilla@sfchronicle.com';
          $subject='Shadow Cabinet Submission';
          $message=
            'Vice President:' .                             $_REQUEST["VP"] . "\r\n" .
            'Secretary of the Treasury:' .                  $_REQUEST["SOT"] . "\r\n" .
            'Attorney General:' .                           $_REQUEST["AG"] . "\r\n" .
            'Secretary of Agriculture:' .                   $_REQUEST["SOA"] . "\r\n" .
            'Secretary of Labor:' .                         $_REQUEST["SOL"] . "\r\n" .
            'Secretary of Housing and Urban Development:' . $_REQUEST["SHUD"] . "\r\n" .
            'Secretary of Energy:' .                        $_REQUEST["SOEnergy"] . "\r\n" .
            'Secretary of Veterans Affairs:' .              $_REQUEST["SVA"] . "\r\n" .
            'Secretary of Homeland Security:' .             $_REQUEST["SHS"] . "\r\n" .
            'Secretary of Education:' .                     $_REQUEST["SOEd"] . "\r\n" .
            'Secretary of Transportation:' .                $_REQUEST["SOT"] . "\r\n" .
            'Secretary of Health and Human Services:' .     $_REQUEST["SHHS"] . "\r\n" .
            'Secretary of Commerce:' .                      $_REQUEST["SOC"] . "\r\n" .
            'Secretary of the Interior:' .                  $_REQUEST["SOI"] . "\r\n" .
            'Secretary of Defense:' .                       $_REQUEST["SOD"] . "\r\n" .
            'Secretary of State:' .                         $_REQUEST["SOS"] . "\r\n"
          ;   
    
          mail($to, $subject, $message);
          header("Location: http://projects.sfchronicle.com/2017/embed-shadow-cabinet/index.php");
          
        
    } ?>


      
    </div>
      

      


    </div>


<script>
 $('#inputform')[0].reset();

$('.start').click(function() {
  $('.intro').hide();
  $('#input-container').show();
});

$('#submit').click(function() {
  $('.intro').hide();
  $('#cabinet-select').show();
});

$('.next').click(function() {
    $('.current').removeClass('current')
        .next().addClass('current');
    if ($('.current').hasClass('last')) {
        $('.next').attr('disabled', true);
    }
    $('.prev').attr('disabled', null);
});

$('.prev').click(function() {
    $('.current').removeClass('current')
        .prev().addClass('current');
    if ($('.current').hasClass('first')) {
        $('.prev').attr('disabled', true);
    }
    $('.next').attr('disabled', null);
});


$('#inputform').on('keydown', 'input', function (event) {
    if (event.which == 13) {
        event.preventDefault();
        $('.current').removeClass('current')
        .next().addClass('current');
    if ($('.current').hasClass('last')) {
        $('.next').attr('disabled', true);
    }
    $('.prev').attr('disabled', null);
    }
});
</script>



  </body>
</html>
